<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Log</title>
</head>
<body>
    <% entries.forEach(entry => {
        switch (entry.action) {
            case "ALL": %>
                <% break %>
            <% case "GUILD_UPDATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                made changes to
                <%= entry.target.name %>
                <% break %>
            <% case "CHANNEL_CREATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                created a channel
                <% if (server.channels.cache.get(entry.target.id)===undefined) { %>
                    with ID <%= entry.target.id %>
                <% } else { %>
                    <%= server.channels.cache.get(entry.target.id).name %>
                <% } %>
                <% break %>
            <% case "CHANNEL_UPDATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                made changes to channel
                <% if (server.channels.cache.get(entry.target.id)===undefined) { %>
                with ID <%= entry.target.id %>
                <% } else { %>
                <%= server.channels.cache.get(entry.target.id).name %>
                <% } %>
                <% break %>
            <% case "CHANNEL_DELETE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                removed a channel with ID
                <%= entry.target.id %>
                <% break %>
            <% case "CHANNEL_OVERWRITE_CREATE": %>
                <% break %>
            <% case "CHANNEL_OVERWRITE_UPDATE": %>
                <% break %>
            <% case "CHANNEL_OVERWRITE_DELETE": %>
                <% break %>
            <% case "MEMBER_KICK": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %> kicked
                <%= entry.target.username %>#<%= entry.target.discriminator %>
                <% break %>
            <% case "MEMBER_PRUNE": %>
                <% break %>
            <% case "MEMBER_BAN_ADD": %>
                <% break %>
            <% case "MEMBER_BAN_REMOVE": %>
                <% break %>
            <% case "MEMBER_UPDATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %> 
                updated
                <%= entry.target.username %>#<%= entry.target.discriminator %>
                <% break %>
            <% case "MEMBER_ROLE_UPDATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                updated roles for
                <%= entry.target.username %>#<%= entry.target.discriminator %>
                <% break %>
                <% break %>
            <% case "MEMBER_MOVE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                moved user to
                "<%= entry.extra.channel.name %>"
                <% break %>
            <% case "MEMBER_DISCONNECT": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                disconnected user from voice
                <% break %>
            <% case "BOT_ADD": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                added
                <%= entry.target.username %>#<%= entry.target.discriminator %>
                to the server
                <% break %>
            <% case "ROLE_CREATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                created the role
                <%= entry.target.name %>
                <% break %>
            <% case "ROLE_UPDATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                updated the role
                <%= entry.target.name %>
                <% break %>
            <% case "ROLE_DELETE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                deleted the role with ID
                <%= entry.target.id %>
                <% break %>
            <% case "INVITE_CREATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                created an invite
                <%= entry.changes[0].new %>
                <% break %>
            <% case "INVITE_UPDATE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                updated an invite
                <%= entry.changes[0].old %>
                <% break %>
            <% case "INVITE_DELETE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                deleted an invite
                <%= entry.changes[0].old %>
                <% break %>
            <% case "WEBHOOK_CREATE": %>
                <% break %>
            <% case "WEBHOOK_UPDATE": %>
                <% break %>
            <% case "WEBHOOK_DELETE": %>
                <% break %>
            <% case "EMOJI_CREATE": %>
                <% break %>
            <% case "EMOJI_UPDATE": %>
                <% break %>
            <% case "EMOJI_DELETE": %>
                <% break %>
            <% case "MESSAGE_DELETE": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                deleted <%= entry.extra.count %> message(s) by
                <%= entry.target.username %>#<%= entry.target.discriminator %> in
                <%= entry.extra.channel.name %>
                <% break %>
            <% case "MESSAGE_BULK_DELETE": %>
                <% break %>
            <% case "MESSAGE_PIN": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                pinned a message by
                <%= entry.target.username %>#<%= entry.target.discriminator %> in
                <%= entry.extra.channel.name %>
                <% break %>
            <% case "MESSAGE_UNPIN": %>
                <%= entry.executor.username %>#<%= entry.executor.discriminator %>
                unpinned a message by
                <%= entry.target.username %>#<%= entry.target.discriminator %> in
                <%= entry.extra.channel.name %>
                <% break %>
            <% case "INTEGRATION_CREATE": %>
                <% break %>
            <% case "INTEGRATION_UPDATE": %>
                <% break %>
            <% case "INTEGRATION_DELETE": %>
                <% break %>
            <% default: %>
                <%= entry.action %>
                <% break %>
        <% } %>
        <br>
    <% }); %>
</body>
</html>